@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/breakpoints" as *;

.icon-wrapper {
  border-radius: 8px;
}

.subject-icon {
  padding: 0.5rem;
}
.subject-button:hover,
.subject-button:focus {
  border-color: $purple600;
  outline: none;
}
@include respond-to(sm) {
  .subject-icon {
    padding: 0;
  }
  .icon-wrapper {
    padding: rem(5.71);
    width: 40px;
    height: 40px;
  }
}
